/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.nav-item {
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    margin:initial;
}
.nav-link text-dark {
    font-size: 18px;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

    ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-size: 18px;
        height: 2em;
        line-height: 2em;
        text-align: center;
    }

ol > li {
    float: left;
    background-color:darksalmon;
    width: 150px;
}
 ol a {
        display: block;
        color: #000;
        text-decoration: none;
        padding: 0 5px;
}


ol > li > a:hover {
        color: #09C;
}

 ol > li:hover {
        background-color: #EEE;
 }

ol > li > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
}

ol > li {
        float: left;
        background-color: #FDD700;
        width: 150px;
        margin-left: 1px;
}

ol > li:first-child {
       margin-left: 0;
}

ol > li > ul > li > a {
    border-top: 1px solid #FFF;
}
ol {
    background-color: #FFF;
}

 ol > li > ul > li {
    background-color: #EEE;
}

 ol > li > ul > li:hover {
    background-color: #DDD;
}

ol > li > ul > li:hover a {
     color: #09C;
}

ol > li > ul {
        display: none;
}

ol > li:hover > ul {
        display: block;
}

 ol > li {
        float: left;
        background-color:antiquewhite; 
        width: 150px;
        margin-left: 1px;
        height: 2em;
    }

ol > li:hover > a {
            color: #09C;
}